question2/step2__stepfunction__scrape_structure/s1__lambda__submit_job/step_function__state_machine.json
{
  "Comment": "ETL after cloning raw data to private s3",
  "StartAt": "Create Job for each web content",
  "States": {
    "Create Job for each web content": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:315374069669:function:NFTQuestion2-SubmitJobs",
      "ResultPath": "$.guid",
      "Next": "Wait X Seconds"
    },
    "Wait X Seconds": {
      "Type": "Wait",
      "SecondsPath": "$.wait_time",
      "Next": "Get Job Status"
    },
    "Get Job Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:315374069669:function:NFTStepFunctions-ScrapingFromRaw-CheckJob",
      "Next": "All Jobs Complete?",
      "InputPath": "$.guid",
      "ResultPath": "$.status"
    },
    "All Jobs Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "Job Failed"
        },
        {
          "Variable": "$.status",
          "StringEquals": "SUCCEEDED",
          "Next": "TODO EMR for all daily data"
        }
      ],
      "Default": "Wait X Seconds"
    },
    "Job Failed": {
      "Type": "Fail",
      "Cause": "AWS Batch Job Failed",
      "Error": "DescribeJob returned FAILED"
    },
    "TODO EMR for all daily data": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:315374069669:function:NFTStepFunctions-ScrapingFromRaw-CheckJob",
      "InputPath": "$.guid",
      "End": true
    }
  }
}
